{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block extra_styles %}
<style>
    .about-container {
        max-width: 85%;
        width: 85%;
    }

    span {
        font-size: medium;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
<div class="about-container free-center mt-5">
    &emsp;&emsp;&emsp;This is a simple app prototype to help you in picking your outfits. There are six essential pages to look out for: <br>

    <p>
        • <span>Homepage</span> - displays all the cloths you have not committed[explained later]. You can then click on these cloths to either delete, edit or commit them <br>
        • <span>New cloth</span> - you concrete new cloths here <br>
        • <span>Generate</span> - you can't generate outfits(combinations) here <br>
        • <span>History</span> - shows a log of all your activities <br>
        • <span>Profile</span> - shows the very little info we have on you along with your combinations and stats <br>
        • <span>About</span> - speaks for itself <br>
    </p>
    <p>
        &emsp;&emsp;&emsp;Furthermore, to utilize the app, there are four terms you need to know - '<cite title="Source Title">cloths</cite>', '<cite title="Source Title">committing</cite>', '<cite title="Source Title">combos</cite>', '<cite title="Source Title">blackliting & using</cite>' <br>
        • <span>Cloths</span> - these are cloths that are created by you they can either be a top(shirt) or a bottom(pant). When you create a new cloth, you can decide to commit it or not <br>
        • <span>Committing</span> - any 'uncommitted' cloth would not be available when you generate a new combo. You can commit or uncommit a cloth any number of times <br>
        • <span>Combos</span> - a combo is basically a generated outfit. When you go to the 'generate' page and generates an outfit, you can click generate to create a new one, blacklist or use a combo <br>
        • <span>Blacklisting & Using</span> - blacklisting a combo means you do not want to use but you also do not want it to be suggested(generated) anymore[maybe cuz it looks hideous] while using a combo means you have accepted that particular combo <br>
    </p>
    <p>
        Thanks for reading😄
    </p>
</div class="about-container free-center mt-5">
{% endblock %}