{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}
{% block content %}
<form method="post" class="form-1 m-3">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary center">Login</button>
</form>

<a href="{{ url_for('auth.signup') }}" class="mt-5 free-center">Dont't have an account?</a>
{% endblock %}